.Weather-Forecast {
  text-align: left;
  list-style: none;
}

.Icon {
  text-align: right;
}

h2 {
  font-size: large;
}

.search-city {
  border-radius: 15px;
  border-color: #f03f35;
  border-width: 2px;
  background-color: #b7e3e4;
  font-family: "Abril Fatface", serif;
  align-items: center;
}
.location-city {
  border-radius: 15px;
  font-family: "Abril Fatface", serif;
  border-color: #f03f35;
  border-width: 2px;
  background-color: #f03f35;
}
.iconURL {
  size: 150px;
  color: black;
}
